<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dailywaterintake">

    <!-- Permission for scheduling exact alarms -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Daily Water Intake"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyWaterIntake"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- History Activity -->
        <activity android:name=".HistoryActivity" />

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>
</manifest>
